albumentations==0.5.2
matplotlib==3.3.4
numpy==1.19.5
fire==0.4.0
flake8
pandas==1.1.5
pyparsing==2.4.7
pytorch-lightning==1.2.7
pytorch-lightning-bolts==0.3.2
pytorchcv==0.0.65
pytorch-toolbelt==0.4.3
pytest
pytest-cov
PyYAML==5.3.1
scikit-learn==0.24.1
scikit-image==0.17.2
scipy==1.5.4
tensorboard==2.4.1
torch==1.8.1
torchmetrics==0.2.0
torchvision==0.9.1
tqdm==4.60.0
streamlit==0.83.0
